version: '3.8'

services:
  web:
    image: openenergymonitor/emoncms:11.6.10
    container_name: emoncms_cve_2025_22992
    ports:
      - "8091:80"
    env_file:
      - build_depend/docker.env
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - emoncms_net
    volumes:
      - emon-phpfina:/var/opt/emoncms/phpfina
      - emon-phptimeseries:/var/opt/emoncms/phptimeseries

  db:
    image: mariadb:11.0
    container_name: emoncms_db_cve_2025_22992
    env_file:
      - build_depend/docker.env
    volumes:
      - emoncms_db_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - emoncms_net

networks:
  emoncms_net:
    driver: bridge

volumes:
  emoncms_db_data:
  emon-phpfina:
  emon-phptimeseries:
