include:
  - ./build_depend/docker-compose-base.yml

services:
  ragflow:
    depends_on:
      mysql:
        condition: service_healthy
    image: ${RAGFLOW_IMAGE}
    container_name: ragflow-server
    ports:
      - ${SVR_HTTP_PORT}:9380
      - 80:80
      - 443:443
    volumes:
      - ./build_depend/ragflow-logs:/ragflow/logs
      - ./build_depend/nginx/ragflow.conf:/etc/nginx/conf.d/ragflow.conf
      - ./build_depend/nginx/proxy.conf:/etc/nginx/proxy.conf
      - ./build_depend/nginx/nginx.conf:/etc/nginx/nginx.conf
    env_file: ./build_depend/.env
    environment:
      - TZ=${TIMEZONE}
      - HF_ENDPOINT=${HF_ENDPOINT}
      - MACOS=${MACOS}
    networks:
      - ragflow
    restart: on-failure
    extra_hosts:
      - "host.docker.internal:host-gateway"
