services:
  api:
    container_name: librechat-cve-2024-11167
    ports:
      - "3080:3080"
    depends_on:
      - mongodb
      - rag_api
    image: ghcr.io/danny-avila/librechat:v0.7.5
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - HOST=0.0.0.0
      - MONGO_URI=mongodb://mongodb:27017/LibreChat
      - MEILI_HOST=http://meilisearch:7700
      - RAG_PORT=8000
      - RAG_API_URL=http://rag_api:8000
    volumes:
      - type: bind
        source: ./build_depend/.env
        target: /app/.env

  mongodb:
    container_name: librechat-mongodb
    image: mongo:6.0
    restart: always
    volumes:
      - mongodb_data:/data/db
    command: mongod --noauth

  meilisearch:
    container_name: librechat-meilisearch
    image: getmeili/meilisearch:v1.7.3
    restart: always
    environment:
      - MEILI_HOST=http://meilisearch:7700
      - MEILI_NO_ANALYTICS=true
    volumes:
      - meili_data:/meili_data

  vectordb:
    container_name: librechat-vectordb
    image: ankane/pgvector:latest
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data

  rag_api:
    container_name: librechat-rag-api
    image: ghcr.io/danny-avila/librechat-rag-api-dev-lite:latest
    environment:
      - DB_HOST=vectordb
      - RAG_PORT=8000
    restart: always
    depends_on:
      - vectordb
    env_file:
      - ./build_depend/.env

volumes:
  mongodb_data:
  meili_data:
  pgdata:
