version: '3'
services:
  dataease:
    image: registry.cn-qingdao.aliyuncs.com/dataease/dataease:v2.10.14
    container_name: dataease
    ports:
      - "8100:8100"
    mem_limit: 4096m
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/dataease?autoReconnect=false&useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Password123@mysql
    shm_size: 1gb
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - dataease-network

  mysql:
    image: mysql:8.0.30
    container_name: dataease-mysql
    environment:
      MYSQL_ROOT_PASSWORD: Password123@mysql
      MYSQL_DATABASE: dataease
    ports:
      - "53306:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-pPassword123@mysql"]
      interval: 10s
      timeout: 5s
      retries: 30
    networks:
      - dataease-network

networks:
  dataease-network:
