services:
  mongodb:
    image: mongo:4.4
    restart: always
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:6
    restart: always

  fiora:
    build:
      context: ./build_depend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "9200:9200"
    environment:
      - Database=mongodb://mongodb/fiora
      - RedisHost=redis
    depends_on:
      - mongodb
      - redis

volumes:
  mongodb_data:
